.container{
    display: flex;
    justify-content: center;
    flex: 0 0 500px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 58%;
    /* height: calc(100vh - 51px); */
    overflow-y: scroll;
    padding: 15px 0 60px 0;
    flex: 0 1 700px;
}
.content::-webkit-scrollbar{
    display: none;
  }