.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.postingButton{
    background-image: url(../../pictures/posting-button.png);
    background-size: cover;
    background-position: center center;
    height: 25px;
    width: 25px;
}
.searching{
    background-image: url(../../pictures/searching.png);
    background-size: cover;
    background-position: center center;
    height: 25px;
    width: 25px;
}
.message{
    background-image: url(../../pictures/message-room-button.png);
    background-size: cover;
    background-position: center center;
    height: 25px;
    width: 25px;
}